body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 14px;
}

.modalContainer{
    display: flex;
    background-color: aquamarine;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.modal{
    background-color: azure;
    width: 600px;
    max-width: 90%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

.show{
    pointer-events: auto;
    opacity: 1;
}